<h1>Sign In to your Account Please</h1>

<form action="/users/create-session" method="POST">

    <input type="email" name="email" placeholder="Enter your Email" required>
    <br>
    <input type="password" name="password" placeholder="Enter your Password" required>
    

   <button type="submit" class="btn btn-dark" style="color: black;"> Sign IN</button>

</form> 