<h1>Sign Up Here!!</h1>
<style>
    input{
        border-top: 0px;
        border-left: 5px;
        border-right: 5px;
        border-radius: 5px;
        
        border-color: black;
    
 
  background-image: url("../images/bg.jpg");
  height: 100%;
  margin-top: 20px;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */}

</style>
<br>
<form action='/users/create' method="POST" >

<input type="text" name="name" placeholder="Enter your Name" required > 

<input type="email" name="email" placeholder="Enter your Email" required> 

<input type="password" name="password" placeholder="Enter your Password" required> <br>

<input type="password" name="confirm_password" placeholder="Confirm Password" required>

<input type="number" name="phone" placeholder="Mobile No." required>

<input type="text" name="adhar" placeholder="Adhar Number" required> <br>

<input type="text" name="vehicleNo" placeholder="Vehicle Number" required>

<input type="text" name="rcNo" placeholder="RC Number" required>

<input type="text" name="licenseNo" placeholder="License Number" required>



<input type="submit" value="Sign Up" class="btn btn-dark btn-md" style="color: black;">

</form>