body {
  margin: 0px;
  font-family: sans-serif;
  background-color: black;
  color: azure;
}

body #main {
  height: 100%;
  top: 50px;
  position: relative;
}

body #main form {
  display: inline-block;
  width: 100%;
  line-height: 6;
}

body #main form input {
  margin: 5px;
  display: inline-block;
  height: 30px;
}

body{
  background-image: url("../images/bg4.jpg");
  height: 100%;
  margin-top: 20px;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */}


