body {
  margin: 0px;
  font-family: sans-serif;
  background-color: black;
  color: azure;
}

body #main {
  height: 100%;
  top: 50px;
  position: relative;
}

body #main form {
  display: inline-block;
  width: 100%;
  line-height: 6;
}

body #main form input {
  margin: 5px;
  display: inline-block;
  height: 30px;
}
